@import url('https://fonts.googleapis.com/css?family=Numans');
html,
body {
    background-image: url('https://media.vozpopuli.com/2021/06/01/mercadona-e1622562641821-1568x882.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    color: white;
    height: 500px;
    margin-top: 180px;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.7) !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.card-img-top {
    height: 250px;
}

.card-body {
    bottom: 0;
}